.forecastCard {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.forecastCard__day {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    background-color: rgb(7, 121, 252);
}

.MuiTabs-flexContainer {
    justify-content: center;
}

@media (min-width: 450px) {
    .forecastCard__day {
        flex-direction: row;
    }
}