.forecast__results__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.forecast__results__item img {
    width: 120%;
    object-fit: cover;
}

.forecast__results__item__temp {
    font-weight: bold;
}

.forecast__results__item:hover {
    filter: drop-shadow(0 0 3px black)
}