.currentWeatherData {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 90%;
    padding: 1rem;
}

.currentWeatherData__location {
    font-size: 2rem;
    color: #212121;
}

.currentWeatherData__subHeader {
    color: #757575;
    font-weight: bold;
    padding: 0.5rem 0;
}

.currentWeatherData__temp__icon {
    display: flex;
    font-size: 3rem;
    padding-top: 1rem;
    color: #757575;
}

.currentWeatherData__weather {
    position: relative;
    bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.cwd__data {
    color: #757575;
    font-weight: bold;
    line-height: 1.3;
}

.currentWeatherData__wind {
    padding-top: 1rem;
}